body {
	font-family: sans-serif;
	background-color: var(--main-background-color);
	color: var(--main-font-color);


}

.QuoteDiv {
	width: 50%;
	height: 30%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
}
